.characters-list {
  font-family: "Courier New";
  cursor: default;

  .character-item {
    text-align: center;
    display: inline-block;
    width: 22px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #000000;
    border-width: 1px 1px 1px 0;

    &.marked {
      color: #ff0000;
      font-weight: 800;
      background-color: #deb887;
    }
  }

  .character-item:first-child {
    border-width: 1px;
  }
}
